<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Kind</key>
    <string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
    <key>Identifier</key>
    <string>com.diegopeinador.templates.MyGreatTemplate</string>
    <key>Ancestors</key>
    <array>
      <string>com.apple.dt.unit.singleViewApplication</string>
    </array>
    <key>Concrete</key>
    <true/>
    <key>Description</key>
    <string>This would create a simple application with cocoapods, fastlane and a nice decoration for your icon (not for the release configuration).</string>
    <key>SortOrder</key>
    <integer>1</integer>
    <key>Nodes</key>
    <array>
      <string>../Podfile</string>
      <string>add_icon_overlay.sh</string>
      <string>../fastlane</string>
    </array>
    <key>Targets</key>
    <array>
      <dict>
        <key>TargetIdentifier</key>
        <string>com.apple.dt.cocoaTouchApplicationTarget</string>
        <key>BuildPhases</key>
        <array>
          <dict>
            <key>Class</key>
            <string>ShellScript</string>
            <key>ShellPath</key>
            <string>/bin/sh</string>
            <key>ShellScript</key>
            <string>___PROJECTNAME___/add_icon_overlay.sh</string>
          </dict>
        </array>
        <key>Configurations</key>
        <dict>
          <key>Debug</key>
          <dict>
            <key>VERSIONING_SYSTEM</key>
            <array>
              <string>apple-generic</string>
            </array>
            <key>ICON_BACKGROUNG_COLOR</key>
            <array>
              <string>#3973BF</string>
            </array>
            <key>ICON_TEXT_COLOR</key>
            <array>
              <string>#FFFFFF</string>
            </array>
            <key>ICON_SHADOW_COLOR</key>
            <array>
              <string>#EEEEEE</string>
            </array>
            <key>ICON_TOP_TEXT</key>
            <array>
              <string>debug</string>
            </array>
          </dict>
          <key>Release</key>
          <dict>
            <key>VERSIONING_SYSTEM</key>
            <array>
              <string>apple-generic</string>
            </array>
          </dict>
        </dict>
      </dict>
    </array>
    <key>Options</key>
    <array>
      <dict>
        <key>Identifier</key>
        <string>languageChoice</string>
        <key>Units</key>
        <dict>
          <key>Swift</key>
          <dict>
            <key>Targets</key>
            <array>
              <dict>
                <key>TargetIdentifier</key>
                <string>com.apple.dt.cocoaTouchApplicationTarget</string>
                <key>Configurations</key>
                <dict>
                  <key>Debug</key>
                  <dict>
                    <key>OTHER_SWIFT_FLAGS</key>
                    <array>
                      <string>$(inherited) -DDEBUG</string>
                    </array>
                  </dict>
                </dict>
              </dict>
            </array>
          </dict>
        </dict>
      </dict>
      <dict>
        <key>Identifier</key>
        <string>universalDeviceFamily</string>
        <key>Units</key>
        <dict>
          <key>iPhone</key>
          <dict>
            <!-- Stuff for universalDeviceFamily=iPhone -->
            <key>Definitions</key>
            <dict>
              <key>Assets.xcassets</key>
              <dict>
                <key>Path</key>
                <string>Images-iPhone.xcassets</string>
                <key>SortOrder</key>
                <integer>100</integer>
              </dict>
            </dict>
          </dict>
          <key>iPad</key>
          <dict>
            <!-- Stuff for universalDeviceFamily=iPad -->
            <key>Definitions</key>
            <dict>
              <key>Assets.xcassets</key>
              <dict>
                <key>Path</key>
                <string>Images-iPad.xcassets</string>
                <key>SortOrder</key>
                <integer>100</integer>
              </dict>
            </dict>
          </dict>
          <key>Universal</key>
          <dict>
            <!-- Stuff for universalDeviceFamily=Universal -->
            <key>Definitions</key>
            <dict>
              <key>Assets.xcassets</key>
              <dict>
                <key>Path</key>
                <string>Images-Universal.xcassets</string>
                <key>SortOrder</key>
                <integer>100</integer>
              </dict>
            </dict>
          </dict>
        </dict>
      </dict>
    </array>
    <key>Definitions</key>
    <dict>
      <key>../Podfile</key>
      <dict>
        <key>Group</key>
        <array>
          <string>Resources</string>
        </array>
        <key>Path</key>
        <string>Podfile</string>
        <key>SortOrder</key>
        <integer>999</integer>
      </dict>
      <key>add_icon_overlay.sh</key>
      <dict>
        <key>Group</key>
        <array>
          <string>Resources</string>
        </array>
        <key>Path</key>
        <string>add_icon_overlay.sh</string>
        <key>SortOrder</key>
        <integer>999</integer>
      </dict>
      <key>../fastlane</key>
      <dict>
        <key>Group</key>
        <array>
          <string>Resources</string>
        </array>
        <key>Path</key>
        <string>fastlane</string>
        <key>SortOrder</key>
        <integer>999</integer>
      </dict>
    </dict>
  </dict>
</plist>
